body {
  background-image: url(../images/ubuntu/background.jpg);
  background-size: 100%;
}

.toolbox1 button {
  float: left;
  width: 9%;
  margin-right: 4%;
}

#last1 {
  margin-right: 0;
  float: right;
}

.toolbox2 button {
  width: 47%;
  float: left;
}

#functionsButton {
  float: right;
}

.buttons img {
  width: 100%;
  height: 100%;
}

.toolbox1 {
  float: left;
  width: 60%;
  box-sizing: border-box;
}

.buttons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.buttons button {
  border: none;
  padding: 0px;
  background-color: transparent;
}

.toolbox2 {
  float: right;
  width: 40%;
  box-sizing: border-box;
}

.toolbox2 .buttons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  border: none;
  resize: none;
  background-size: cover;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  color: #bfc5d1;
  border-radius: 5px;
  font-size: 17px;
}

button {
  outline: none;
}

.input,
.dic_func,
.stack,
.default,
.output {
  background-size: 100% 100%;
  border-radius: 5px;
  border: none;
}

.default,
.output {
  width: 100%;
}

.input {
  background-image: url(../images/ubuntu/input_background.png);
  width: 59.8%;
  height: 365px;
  float: left;
  margin-right: 0.1%;
}

.input textarea,
.dic_func textarea {
  width: 100%;
  height: 96%;
}

.input textarea {
  margin-top: 2%;
}

.dic_func {
  background-image: url(../images/ubuntu/dic_func_background.png);
  float: right;
  width: 39.8%;
  height: 572px;
}

.dic_func textarea {
  margin-top: 21px;
  height: 96.3%;
}

.stack {
  float: left;
  width: 59.8%;
  margin-top: 5px;
}

.stack textarea {
  width: 100%;
  height: 100%;
}

.default {
  background-image: url(../images/ubuntu/default_background.png);
  float: left;
  height: 90px;
}

.output {
  background-image: url(../images/ubuntu/output_background.png);
  float: left;
  height: 108px;
  margin-top: 4px;
}

.footer {
  border-radius: 5px;
  color: white;
  float: left;
  background-color: black;
  width: 100%;
  margin-top: 0.5%;
}

.footer1 {
  width: 65%;
  float: left;
  box-sizing: border-box;
}

.footer2 {
  width: 35%;
  float: right;
  box-sizing: border-box;
}

.footer2 a {
  color: white;
}

h3 {
  margin-left: 2%;
}

.ps {
  margin-left: 5%;
}

.links {
  margin-left: 10%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#editor,
#inputS,
#inputD {
  border-radius: 5px;
  border: none;
  font-size: 17px
}

#editor {
  margin-top: 17px;
  height: 95.28%;
}

#inputS {
  height: 100%;
}

.break_point { 
  position: absolute;
}

#fileInput {
  display: none;
}
